# IDE files
.idea/
.vscode/
*.iml
*.ipr
*.iws
local.properties

# Build files
.gradle/
build/

# Gradle Wrapper
gradle/wrapper/gradle-wrapper.jar

# Keystore files
*.jks
*.keystore

# Google Services
google-services.json

# Crashlytics
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Proguard
proguard/

# Captures
captures/
*.hprof
