<?xml version="1.0" encoding="utf-8"?>
<!-- This manifest file registers the custom URL scheme and permissions. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.obsidianprint.helper">

    <!-- Although not strictly required for all devices, explicitly requesting
         permission to read from external storage is good practice for robustness. -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@android:drawable/ic_menu_print"
        android:label="@string/app_name"
        android:roundIcon="@android:drawable/ic_menu_print"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Transparent.NoActionBar"
        tools:targetApi="31">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">

            <!-- This intent filter allows the app to be launched by the plugin -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="obsidian-print-helper" />
            </intent-filter>

        </activity>
    </application>

</manifest>